{% extends "warbl/views/templates/base.html" %}
{% block content %}
  <h2 id="username">{{user._id}}</h2>
  <div class="col-md-4" id="gravatar">
    <br />
    <img src="{{user.gravatars.large}}"
         class="img-responsive img-rounded">
    </img>
    <br />
    {% if is-current-user %}
      <small>Go to <a href="http://gravatar.com">gravatar.com</a> to change your profile picture</small>
    {% endif %}
    <br />
  </div>

  <div class="col-md-4">
    <br />
    {% if is-current-user %}
    <form role="form" action="{{servlet-context}}/update-profile" method="POST">
      <div class="form-group">
        <label for="full-name">Full Name</label>
        <p>
          <input id="full-name"
                 name="full-name"
                 tabindex="1"
                 type="text"
                 value="{{user.full_name}}"
                 class="form-control">
          </input>
        </p>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <p>
          <input id="email"
                 name="email"
                 tabindex="1"
                 type="text"
                 value="{{user.email}}"
                 class="form-control">
          </input>
        </p>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <p>
          <input id="location"
                 name="location"
                 tabindex="1"
                 type="text"
                 value="{{user.location}}"
                 class="form-control">
          </input>
        </p>
      </div>

      <input class="btn btn-success" tabindex="4" type="submit" value="Update Profile">
      <a class="btn btn-default" href="/">Cancel</a>
    </form>
    {% else %}
    <p>
    <strong>Full name:</strong> {{user.f_name}} {{user.l_name}}
    </p>
    <p>
      <strong>email:</strong> {{user.email}}
    </p>
    {% endif %}
    <br />
  </div>

  {% if not is-current-user %}
  <div id="message-composer" class="col-md-4">
    <h3>Send Message</h3>
    <form role="form" action="{{servlet-context}}/message/to/{{user._id}}" method="POST">
      <div class="form-group">
        <label for="text">Text</label>
        <input id="text"
               name="text"
               type="textarea"
               class="form-control">
        </input>
      </div>
      <div class="form-group">
        <input class="btn btn-success" tabindex="4" type="submit" value="Send Message">
      </div>
    </form>
  </div>
  {% endif %}
{% endblock %}
