{% extends "warbl/views/templates/base.html" %}
{% block content %}
  <h2 id="username">{{user._id}}</h2>
  <div class="col-md-4" id="gravatar">
    <br />
    <img src="{{user.gravatars.large}}"
         class="img-responsive img-rounded">
    </img>
    <br />
    {% if is-current-user %}
      <small>Go to <a href="http://gravatar.com">gravatar.com</a> to change your profile picture</small>
    {% endif %}
    <br />
  </div>

  <div class="col-md-4">
    <br />
    {% if is-current-user %}
    <form role="form" action="{{servlet-context}}/update-profile" method="POST">
      <div class="form-group">
        <label for="first-name">First Name</label>
        <p>
          <input id="first-name"
                 name="first-name"
                 tabindex="1"
                 type="text"
                 value="{{user.f_name}}"
                 class="form-control">
          </input>
        </p>
      </div>

      <div class="form-group">
        <label for="last-name">Last Name</label>
        <p>
          <input id="last-name" name="last-name"
                 tabindex="1" type="text" value="{{user.l_name}}"
                 class="form-control">
          </input>
        </p>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <p>
          <input id="email"
                 name="email"
                 tabindex="1"
                 type="text"
                 value="{{user.email}}"
                 class="form-control">
          </input>
        </p>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <p>
          <input id="location"
                 name="location"
                 tabindex="1"
                 type="text"
                 value="{{user.location}}"
                 class="form-control">
          </input>
        </p>
      </div>

      <input class="btn btn-success" tabindex="4" type="submit" value="Update Profile">
      <a class="btn btn-default" href="/">Cancel</a>
    </form>
    {% else %}
    <p>
      <h3>{{user.f_name}} {{user.l_name}}</h3>
    </p>
    <p>
      <strong>email:</strong> {{user.email}}
    </p>
    {% endif %}
    <br />
  </div>

{% endblock %}
