{% extends "warbl/views/templates/base.html" %}
{% block menu %}
{% endblock %}
{% block content %}
  <div class="col-md-4">
    <h2>Register A New Account:</h2>
    <br />
    <form action="{{servlet-context}}/register" method="POST" role="form">
      <div class="form-group">
        <label for="id">User ID</label>
        {% if id-error %}
        <div class="error">{{id-error}}</div>
        {% endif %}
        <p>
          <input id="id"
                 name="id"
                 tabindex="1"
                 type="text"
                 class="form-control"
                 value={{id}}>
          </input>
        </p>
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        {% if pass-error %}
        <div class="error">{{pass-error}}</div>
        {% endif %}
        <p>
          <input id="pass"
                 name="pass"
                 tabindex="2"
                 type="password"
                 class="form-control">
          </input>
        </p>

      </div>
      <div class="form-group">
        <label for="pass1">Retype Password</label>
        {% if pass1-error %}
        <div class="error">{{pass1-error}}</div>
        {% endif %}
        <p>
          <input id="pass1"
                 name="pass1"
                 tabindex="3"
                 type="password"
                 class="form-control">
          </input>
        </p>
      <input class="btn btn-primary" tabindex="4" type="submit" value="Create Account!">
    </form>
    <div>
      <hr />
      <p>Already have an account? <a href="/">Log In here</a></p>
    </div>
  </div>
{% endblock %}

